/*Common Css Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primary-font: 'Poppins', sans-serif;
    --heading-font: 'PT Sans', sans-serif;
    --primary-color:#FFCC00;
    --font-color: #353535;
    --single-use-color: #7A7A7A;
    --white-ase: #F4F3F3;
    --white-color: #FFFFFF;
}
body{ 
    color: var(--font-color);
    font-family: var(--primary-font);
    
}
a{
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--font-color);
    display: block;
}
ul{
    list-style-type: none;
}
img{
    display: block;
}
.d-block{
    display: block;
}
.w-30{
    width: 30%;
}
.w-32{
    width: 32%;
}
.w-33{
    width: 33%;
}
.w-35{
    width: 35%;
}
.w-40{
    width: 40%;
}
.w-45{
    width: 45%;
}
.w-50{
    width: 50%;
}
.w-55{
    width: 55%;
}
.w-60{
    width: 60%;
}
.w-65{
    width: 65%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.w-100{
    width: 100%;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
}
.container{
    width: 1110px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.seemore_btn a{
    width: 171px;
    height: 66px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 66px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
}
/*Common Css End */

/*Nav Section Start */
#navigation{
    padding-top: 10px;
}

#navigation .nav_list li a{
    padding: 14px 29px;
    text-transform: uppercase;
    font-family: var(--primary-font);
    position: relative;
}
#navigation .nav_list li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--font-color);
    transform: scaleX(0);
    transition: 0.5s;
}
#navigation .nav_list li a:hover::before{
    transform: scaleX(1);
}
/*Nav Section End */


/*Page Title Section Start */
#page-title{
    margin-top: 60px;
}

#page-title .container .title-box{
    background: url(../images/page-title_bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 180px;
    border-radius: 20px;
    text-align: center;
    color: white;
    justify-content: center;
}
#page-title .container .title-box .title-info{
    position: relative;
}
#page-title .container .title-box .title-info h2{
    font-size: 46px;
    font-weight: 700;
    line-height: 59.52px;
    padding-bottom: 7px;
}
#page-title .container .title-box .title-info h2::after{
    content: '';
    position: absolute;
}
#page-title .container .title-box .title-info .pagetitle-overlay{
    position: absolute;
    top: -10%;
    left: 25%;
}
#page-title .container .title-box .title-info h6{
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 34.2px;
    position: relative;
}

#page-title .container .title-box .title-info h6::after{
    content: '';
    position: absolute;
    top: 50%;
    left: -25%;
    transform: translateY(-50%);
    width: 84px;
    border: 2px solid #FFFFFF;
}
#page-title .container .title-box .title-info h6::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -25%;
    transform: translateY(-50%);
    width: 84px;
    border: 2px solid #FFFFFF;
}

/*Page Title Section End */


/*About-Self Section Start */
#about-self{
    padding: 86px 0 0;
}
#about-self .content{
    border-bottom: 0.7px solid #7A7A7A;
    padding-bottom: 78px;
    
}

#about-self .content .seft-info .a-self-discription{
    font-size: 19px;
    line-height: 2;
    text-align: justify;
    color: var(--single-use-color);
}

#about-self .content .seft-info .a-self-details{
    padding: 105px 0 0;
}
#about-self .content .seft-info .a-self-details .self-details-text{
    margin-right: 55px;
}
#about-self .content .seft-info .a-self-details .self-details-text .s-d-item{
   margin-bottom: 12px;
}
#about-self .content .seft-info .a-self-details .self-details-text p{
    font-size: 19px;
    line-height: 36px;
    color: var(--single-use-color);
}
#about-self .content .seft-info .a-self-details .self-details-text span{
    font-weight: 500;
    color: var(--font-color);
    
}
#about-self .content .seft-info .a-self-details .self-details-text .behance a{
   color: #3479FF;
   text-decoration-line: underline;
   margin-left: 26px;
   font-size: 19px;
   line-height: 36px;
}

#about-self .seft-info .a-self-details .self-details-text .about-download-btn{
   display: inline-block;
    padding: 10px 21px;
   background-color: var(--primary-color);
   color: white;
   border-radius: 12px;
   margin-top: 44px;
}
/*About-Self Section End */


/*Qualification Section Start */
#qualification{
    padding: 73px 0 0px;
}
#qualification .container .qualification-title h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}
#qualification .container .qualification-title .qualification-heading{
    width: calc(100%/2 - 47px);
    margin-bottom: 51px;
}

#qualification .qualification_item_container .qualification-item{
    width: calc(100%/2 - 47px);
    padding-left: 48px;
    position: relative;
}
#qualification .qualification_item_container .qualification-item::after{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px dashed #7A7A7A;
    z-index: 9999;

}

#qualification .qualification_item_container .quali-info{
    position: relative;
}
#qualification .qualification_item_container .quali-info::after{
    content: '';
    position: absolute;
    top: 0;
    left: -65.1px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: white;
    border: 2px dashed #7A7A7A;
    z-index: 10000;
}
#qualification .qualification_item_container .quali-info-1::before{
    content: '';
    position: absolute;
    top: 11.5px;
    left: -53.9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #52AB70;
    z-index: 10001;
}
#qualification .qualification_item_container .quali-info-2::before{
    content: '';
    position: absolute;
    top: 11.5px;
    left: -53.9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #F17676;
    z-index: 10001;
}
#qualification .qualification_item_container .quali-info-3::before{
    content: '';
    position: absolute;
    top: 11.5px;
    left: -53.9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFD233;
    z-index: 10001;
}
#qualification .content .qualification-item .quali-info{
    padding-bottom: 47px;
}
#qualification .content .qualification-item .quali-info:nth-child(3){
    padding-bottom: 0;
}
#qualification .qualification-item .quali-info .quli-details .quli-date p{
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 30px;
    color: var(--single-use-color);
    line-height: 30px;
}
#qualification .qualification-item .quali-info .quli-details h3{
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    padding: 10px 0 16px;
}
#qualification .qualification-item .quali-info .quli-details p{
    font-size: 18px;
    line-height: 36px;
}
/*Qualification Section End */


/*About Skil Section Start */
#about-skill{
    padding: 119px 0;
}

#about-skill .container .about-skill-title h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    padding-bottom: 50px;
}

#about-skill .container .about-skill-percentage .about-skill-pct-box{
    width: calc(100%/3 - 24px);
    padding-bottom: 51px;
}
#about-skill .container .about-skill-percentage .about-skill-pct_box4{
    padding-bottom: 0;
}
#about-skill .about-skill-percentage .about-skill-pct-box .percentage-title p{
    font-size: 18px;
    font-weight: 600;
    line-height: 32.4px;
}
#about-skill .about-skill-percentage .about-skill-pct-box .pct-updown{
    width: 100%;
    background-color: #D9D9D9;
    height: 4px;
    border-radius: 20px;
    margin-top: 16px;
}
#about-skill .about-skill-percentage .pct-updown .pct-updown-overlay{
    height: 4px;
    border-radius: 20px;
    position: relative;
}
#about-skill .about-skill-percentage .pct-updown .pct-updown-overlay .pct-no{
    position: absolute;
    top: -48px;
    right: 0;
    font-size: 18px;
    line-height: 32.4px;
    font-weight: 600;
}
/*About Skil Section End */


/*Footer Section Start */
#footer{
    background-color: #575757;
    padding: 70px 0 85px;
}
#footer .container{
    position: relative;
}

#footer .footer_row1 .fo-item1{
    align-self: flex-start;
    padding-top: 25px;
}

#footer .footer_row1 .fo-item2 h2{
    font-family: var(--primary-font);
    font-weight: 36px;
    line-height: 72px;
    color: var(--white-color);
}
#footer .footer_row1 .fo-item2 p{
    font-weight: 16px;
    line-height: 29px;
    color: #BBB9B9;
}

#footer .footer_row1 .fo-item3 .footer_btn{
    width: 174px;
    height: 63px;
    border-radius: 16px;
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 63px;
    text-align: center;
    color: var(--white-color);
}

#footer .footer_row2{
    padding-top: 94px;
}
#footer .footer_row2 .footer-row2-item p{
    font-size: 18px;
    line-height: 32.4px;
    color: #BBB9B9;
}
#footer .footer_row2 .footer-row2-item h6{
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    color: #BBB9B9;
}

#footer .footer_row2 .fo-row2-item2{
    margin-right: 41px;
}
#footer .footer_row2 .fo-row2-item3 p{
    color: var(--white-color);
    margin-right: 24px;
}

#footer .footer_row2 .fo-row2-item3 .footer_icon-list li a{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    margin-right: 10px;
    background-color: #484848;
    color: var(--white-color);
}

#footer .container::after{
    content: '';
    position: absolute;
    top: 104px;
    left: -60px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #9B9B9B;
}
#footer .fo-left-absolute{
    position: absolute;
    bottom: 0;
    left: -150px;
}
#footer .fo-right-absolute{
    position: absolute;
    top: 100px;
    right: -56px;
}
/*Footer Section End */